<!DOCTYPE html>
<html lang="en" ng-app='app'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CTData Angular App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/dist/bower_components/angular-ui-bootstrap-bower/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/dist/css/project.css">

    <script src="static/dist/bower_components/d3/d3.js"></script>
    <script src="static/dist/bower_components/d3-jetpack/d3-jetpack.js"></script>
    <script src="static/dist/bower_components/angular/angular.js"></script>
    <script src="static/dist/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="static/dist/bower_components/angular-ui-bootstrap-bower/ui-bootstrap.min.js"></script>
    <script src="static/dist/bower_components/ng-lodash/build/ng-lodash.min.js"></script>
    <script src="static/dist/js/app.js"></script>
  </head>
  <body>
    <div id="wrap">
      <div class="navbar-header">
        <nav class="navbar navbar-dark navbar-static-top bg-inverse">
          <div class="container-fluid">
              <div>
                <ul class="nav navbar-nav pull-right">
                  <li class="logo"><a class="logo-link" href="http://ctdata.org">Created by the Connecticut Data Collaborative</a>
                  <span class="logo-small">
                    <div class="logo-circle dark-blue"></div>
                    <div class="logo-circle medium-blue"></div>
                    <div class="logo-circle light-blue"></div>
                    <div class="logo-circle extra-light-blue"></div>
                  </li>
                  <li><a href="https://twitter.com/ctopendata">
                      <i class="fa fa-inverse fa-twitter fa-lg"></i>
                      </a>
                  </li>
                  <li><a href="https://www.facebook.com/pages/CT-Data-Collaborative/150954425018093"><i class="fa fa-inverse fa-facebook fa-lg"></i></a></li>
                </ul>
              </div>
          </div>
        </nav>
      </div> <!-- End Nav -->
      <div id="main">
          <div id="page-content-wrapper" ng-controller="DataVizController">
            <div class="top-row">
              <div class="arrow_box">
                <div class="top-row-title">
                  <h1><a href="#">CTData Budget Simulator</a></h1>
                </div>
              </div>
            </div>
            <div class="container-fluid main-internal">
              <div class="row">
                <div class="col-sm-6 input">
                  <h2>Select Model Parameters</h2>
                  <form>
                    <fieldset class="form-group">
                      <label for="percentChange">Percent Change (-1 to 0)</label>
                      <input type="number" min="-1" max="0" class="form-control" id="percentChange" ng-model="modelParems.percent_cut">
                    </fieldset>
                    <fieldset class="form-group">
                      <label for="max">Max Multiplier</label>
                      <input type="number" min="0" class="form-control" id="max" ng-model="modelParems.max_r">
                    </fieldset>
                    <fieldset class="form-group">
                      <label for="min">Min Multiplier</label>
                      <input type="number" min="0" class="form-control" id="min" ng-model="modelParems.min_r">
                    </fieldset>
                    <fieldset class="form-group">
                      <label for="baseline">Baseline Percentile (0 to 100)</label>
                      <input type="number" min="0" max="100" class="form-control" id="baseline" ng-model="modelParems.baseline_per">
                    </fieldset>
                  </form>
                </div>
                <div class="col-sm-6 output">
                  <h2>Simulation Output</h2>
                  <h4>Baseline cut ($): {{ baseline | number:2}}</h4>
                  <table class="ctdata-table">
                    <thead>
                      <th class="col-name town">Town</th>
                      <th class="col-name">Gap</th>
                      <th class="col-name">Previous Allocation</th>
                      <th class="col-name">Simulated Allocation</th>
                      <th class="col-name">% Change</th>
                      <th class="col-name">Category</th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="town in simulatedTowns">
                        <td class="name">{{town.town}}</td>
                        <td class="value">{{town.gap}}</td>
                        <td class="value">{{town.allocation}}</td>
                        <td class="value">{{town.adj_allocation | number:2}}</td>
                        <td class="value">{{town.per_change | number:2}}</td>
                        <td class="value">{{town.category}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="footer">
        <div class="copyright">
          <p>CTData.org is a Project of the Connecticut Data Collaborative. Copyright <i class="fa fa-copyright fa-inverse"></i> 2015 CT Data Collaborative</p>
        </div>
    </div>
    <!-- Latest JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- I haven't actually checked to see if removing this causes problems with the ui-bootstrap -->
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
  </body>
</html>
