<div class="col-xs-12 col-md-6 grants" ng-hide="selectedTown.selected.NAME==''">
    <h3>State Nonschool Grants</h3>
    <table class="ctdata-table ctdata-table-wide grant-allocation-table">
        <thead>
        <tr>
            <td class="col-name town">Grant</td>
            <td class="col-name">Avg. FY 14/15</td>
            <td class="col-name">Simulated</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="grant in selectedTown.selected.DATA.grants">
            <td class="name">{{ grant["Grant"] }}</td>
            <td class="value">{{ grant["FY 15"] | currency:"$":0 }}</td>
            <td class="value">{{ grant["Simulated Cut"] | currency:"$":0 }}</td>
        </tr>
        </tbody>
    </table>
    <hr>
    <p>Note: In the simulated aid allocation, aid cuts are distributed proportionally based on the FY14/15 average distrbution.</p>
</div>
