<div class="navbar-header">
    <nav class="navbar navbar-dark navbar-static-top bg-inverse">
        <div class="container-fluid">
            <div>
                <ul class="nav navbar-nav pull-right">
                    <li class="logo"><a class="logo-link" href="http://ctdata.org"></a>
                <span class="logo-small">
                  <div class="logo-circle dark-blue"></div>
                  <div class="logo-circle medium-blue"></div>
                  <div class="logo-circle light-blue"></div>
                  <div class="logo-circle extra-light-blue"></div>
                    </li>
                    <li><a href="https://twitter.com/ctopendata">
                        <i class="fa fa-inverse fa-twitter fa-lg"></i>
                    </a>
                    </li>
                    <li><a href="https://www.facebook.com/pages/CT-Data-Collaborative/150954425018093"><i class="fa fa-inverse fa-facebook fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div> <!-- End Nav -->