<p>Select the % decrease from FY15 aid level:</p>
<div class="parameters-slider">
    <span>0%</span>
    <span slider
          slider-id="cutSlider"
          ng-model="cutSlider.value"
          value="cutSliderOptions.value"
          min="cutSliderOptions.min"
          max="cutSliderOptions.max"
          range="cutSliderOptions.range"
          formatter="singleVarFormatterFn(value, '', '%')"
          class="slider-elem"
    ></span>
    <span>100%</span>
</div>
<br><br>

<p>Select the gap cutoff. A negative gap indicates a surplus. A positive gap indicates a deficit. The gap cutoff is
used to categorize municipalities. Those with gaps less than the cutoff will be assign to the max cut category. Those
with gaps more than the cutoff will either be assigned a proportional cut or the minimum cut.</p>
<div class="parameters-slider">
    <span>${{gapSliderOptions.min}}</span>
    <span slider
          slider-id="gapSlider"
          ng-model="gapSlider.value"
          value="gapSliderOptions.value"
          min="gapSliderOptions.min"
          max="gapSliderOptions.max"
          range="gapSliderOptions.range"
          formatter="singleVarFormatterFn(value, '$', '')"
          class="slider-elem"
    ></span>
    <span>${{gapSliderOptions.max}}</span>
</div>
<br><br>

<p>Select the min and max cut as % of FY15 aid level:</p>
<div class="parameters-slider">
    <span>0%</span>
    <span slider
          slider-id="rangeSlider"
          ng-model="minmaxSlider.value"
          value="minmaxSliderOptions.value"
          min="minmaxSliderOptions.min"
          max="minmaxSliderOptions.max"
          range="minmaxSliderOptions.range"
          formatter="rangeFormatterFn(value)"
          class="slider-elem"
    ></span>
    <span>100%</span>
</div>
<br><br>