<div class="card paremeters">
    <div class="card-header">
        <h3>Select Model Parameters</h3>
    </div>
    <div class="card-block">
        <div class="settings-section">
            <h5>1. Select the cut as a percentage of the prior years' aid</h5>
            <p>Over FY14 and FY15, the average total statewide aid allocations was
                <span style="font-weight: bold">{{ total_aid | bigcurrency }}</span>. A <span style="font-weight: bold">{{ cutSlider.value/100 | percentage }}</span>
                cut will result in a savings of <span style="font-weight: bold">{{ total_aid * cutSlider.value / 100 | bigcurrency }}</span>.
            </p>
            <div class="parameters-slider">
                <div class="bounds">0%</div>
        <span slider
              slider-id="cutSlider"
              ng-model="cutSlider.value"
              value="cutSliderOptions.value"
              min="cutSliderOptions.min"
              max="cutSliderOptions.max"
              step="cutSliderOptions.step"
              range="cutSliderOptions.range"
              formatter="singleVarFormatterFn(value, 'percent')"
              class="slider-elem"
        ></span>
                <div class="bounds">100%</div>
            </div>
        </div>
        <div class="settings-section">
            <h5>2. Select the min and max cut % for any given town/city</h5>
            <p>Towns in the minimum category will have <span style="font-weight: bold">{{minmaxSlider.value[0]/100 | percentage }}</span>
                cut.
                Towns in the maximum category will have <span style="font-weight: bold">{{minmaxSlider.value[1]/100 | percentage }}</span>
                cut. All
                other towns will have a proportional cut.</p>
            <div class="parameters-slider">
                <div class="bounds">0%</div>
        <span slider
              slider-id="rangeSlider"
              ng-model="minmaxSlider.value"
              value="minmaxSliderOptions.value"
              min="minmaxSliderOptions.min"
              max="minmaxSliderOptions.max"
              range="minmaxSliderOptions.range"
              formatter="rangeFormatterFn(value, 'percent')"
              class="slider-elem"
        ></span>
                <div class="bounds">100%</div>
            </div>
        </div>
        <div class="settings-section">
            <h5>3. Select the <a href="" uib-tooltip="{{ gaptooltiptext }}">gap cutoff</a></h5>
            <p>Towns and cities with gaps less than <span
                    style="font-weight: bold">{{ gapSlider.value | currency }}</span> will
                be subject to the maximum % cut. All other towns will have either the minimum or a proportional cut. A
                negative
                gap indicates a surplus (e.g. more capacity than cost). A positive gap indicates a deficit.</p>
            <div class="parameters-slider">
                <div class="bounds">${{gapSliderOptions.min}}</div>
        <span slider
              slider-id="gapSlider"
              ng-model="gapSlider.value"
              value="gapSliderOptions.value"
              min="gapSliderOptions.min"
              max="gapSliderOptions.max"
              range="gapSliderOptions.range"
              formatter="singleVarFormatterFn(value, 'currency')"
              class="slider-elem"
        ></span>
                <div class="bounds">${{gapSliderOptions.max}}</div>
            </div>
        </div>
    </div>
</div>
