<div class="ctdata-list-table">
    <div>
        <div class="thead">
            <!--  -->
            <ul>
                <li class="col-town text-left" ng-click="toggleSortDesc('town')">
                    Town
                    <i ng-if="sortCol=='town'" class="fa" ng-class="sortIcons[sortDesc]"></i>
                </li>
                <li class="col-population text-right" ng-click="toggleSortDesc('population')">
                    Pop.
                    <i ng-if="sortCol=='population'" class="fa" ng-class="sortIcons[sortDesc]"></i>
                </li>
                <li class="col-gap text-right" ng-click="toggleSortDesc('gap')">
                    Surplus/&#8203;Deficit
                    <i ng-if="sortCol=='gap'" class="fa" ng-class="sortIcons[sortDesc]"></i>
                </li>
                <li class="col-allocation text-right" ng-click="toggleSortDesc('total_aid')">
                    *FY '14-'15 Avg. Aid
                    <i ng-if="sortCol=='total_aid'" class="fa" ng-class="sortIcons[sortDesc]"></i>
                </li>
                <li class="col-even-cut text-right" ng-click="toggleSortDesc('even_cut_allocation_total')">
                    *Even-cut Aid
                    <i ng-if="sortCol=='even_cut_allocation_total'" class="fa" ng-class="sortIcons[sortDesc]"></i>
                </li>
                <li class="col-sim-allocation text-right" ng-click="toggleSortDesc('sim_allocation_total')">
                    *Simulated Aid
                    <i ng-if="sortCol=='sim_allocation_total'" class="fa" ng-class="sortIcons[sortDesc]"></i>
                </li>
                <li class="col-percent-change text-right" ng-click="toggleSortDesc('per_change')">
                    &#8224; Sim. % Change
                    <i ng-if="sortCol=='per_change'" class="fa" ng-class="sortIcons[sortDesc]"></i>
                </li>
                <li class="col-allocation-diff text-right" ng-click="toggleSortDesc('sim_allocation_difference_total')">
                    Sim. Aid Change (tot.)
                    <i ng-if="sortCol=='sim_allocation_difference_total'" class="fa" ng-class="sortIcons[sortDesc]"></i>
                </li>
                <!--<li class="col-category text-right" ng-click="toggleSortDesc('category')">-->
                    <!--Category-->
                    <!--<i ng-if="sortCol=='category'" class="fa" ng-class="sortIcons[sortDesc]"></i>-->
                <!--</li>-->
            </ul>
        </div>
        <div class="tbody">
            <!--  -->
            <ul ng-repeat="town in simulatedTowns | orderBy:sortCol:sortDesc">
                <li class="col-town text-left">
                    <!-- <span class="reflow-label">Town</span> -->
                    {{town.town}}
                </li>
                <li class="col-population text-right">
                    <span class="reflow-label">Population</span>
                    {{town.population | number}}
                </li>
                <li class="col-gap text-right gap-color" ng-class="colorGap(town.gap)">
                    <span class="reflow-label">Surplus/&#8203;Deficit</span>
                    {{town.gap | currency:"$":0}}
                </li>
                <li class="col-allocation text-right">
                    <span class="reflow-label">FY '14-'15 Avg. Aid *</span>
                    {{town.total_aid | bigcurrency}}
                </li>
                <li class="col-even-cut text-right">
                    <span class="reflow-label">* Even-cut Aid</span>
                    {{town.even_cut_allocation_total | bigcurrency}}
                </li>
                <li class="col-sim-allocation text-right">
                    <span class="reflow-label">* Simulated Aid</span>
                    {{town.sim_allocation_total | bigcurrency}}
                </li>
                <li class="col-percent-change text-right">
                    <span class="reflow-label">&#8224; Sim. % Change</span>
                    <span ng-if="town.category=='proportional'">
                        {{town.per_change | percentage:1}}
                    </span>
                    <span ng-if="town.category!='proportional'">
                        {{town.per_change | percentage:0}}
                    </span>
                </li>
                <li class="col-allocation-diff text-right">
                    <span class="reflow-label">Sim. Aid Change (tot.)</span>
                    {{town.sim_allocation_difference_total | currency:"$":0}}
                </li>
                <!--<li class="col-category text-right">-->
                    <!--<span class="reflow-label">Category</span>-->
                    <!--{{town.category}}-->
                <!--</li>-->
            </ul>
        </div>
        <div class="tfoot">
            <!--  -->
            <span class="footnote">* &mdash; Values rounded, </span>
            <span class="footnote">&#8224; &mdash; Min Change: {{minmaxSlider.value[0]/100 | percentage }}; </span>
            <span class="footnote">Max Change: {{minmaxSlider.value[1]/100 | percentage }}</span>
        </div>
    </div>
</div>