map {
    //min-height: 60vh!important;
    //@media screen and (min-width: 768px) and (max-width: 995px) {
    //    min-height: 45vh!important;
    //}
    //@media screen and (max-width: 767px) {
    //    min-height: 35vh!important;
    //}
    display: block;

    /* Legend */
    div.legend-container {
        //margin-left: 2rem;
        float: right;
        padding-right: 4rem;

        div.legend-entry {
            cursor: default;
            display: inline;
            padding-right: 1rem;

            span.title {
                margin-left: 0.25rem;
            }

            span.title {
                p {
                    display: inline;
                    margin-bottom: 0;
                    text-transform: capitalize;
                }
            }

            span.color {
                display: inline-block;
                height: 1rem;
                width: 1rem;

                &.color_1 {
                    background-color: $ctdata-extra-dark-blue;
                }
                &.color_2 {
                    background-color: $purple;
                }
                &.color_3 {
                    background-color: $red;
                }
            }
        }
    }
    /* END Legend */
    
    /* map */
    div.map {
        path.mappath {
            fill-opacity: 1;
            stroke-opacity: 1;
            stroke: $extra-dark-grey;
            stroke-width: 1px;

            &.color_1 {
                fill: $ctdata-extra-dark-blue;
            }
            &.color_2 {
                fill: $purple;
            }
            &.color_3 {
                fill: $red;
            }

            &.highlight {
                stroke-width: 3px;
            }

            &.lowlight {
                fill-opacity: 0.5;
                stroke-opacity: 0.5;
            }
        }
    }
    /* END map */
}

/* Tooltip */
.map-tooltip {
    position: relative;
    background: $extra-dark-grey;
    border: 5px solid $extra-dark-grey;
    color: $white;
}
.map-tooltip:after, .map-tooltip:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.map-tooltip:after {
    border-color: rgba(74, 74, 74, 0);
    border-top-color: $extra-dark-grey;
    border-width: 7px;
    margin-left: -7px;
}
.map-tooltip:before {
    border-color: rgba(74, 74, 74, 0);
    border-top-color: $extra-dark-grey;
    border-width: 14px;
    margin-left: -14px;
}
/* END Tooltip */
