// Give header a nice bottom margin
.navbar-header {
  height: 3rem;

  .navbar {
    background-color: $ctdata-extra-dark-blue;
  }

  ul.pull-right {
          list-style-type: none;
          margin: 0;
          padding: 0;
          font: 100% $font1;
          float: right;

          li {
              float:left;
              // margin: 7px 5px 0 5px;
              margin: .4rem .5rem .4rem .5rem;

          }

          li.logo {
              margin-right: 2rem;
          }
          a {
              color: #d2e4e7;
              text-decoration: none;
              font-size: .85rem;
          }

          a:hover {
              color:#fff;
              text-decoration: none;

          }
      }

  .logo-circle {
      margin-top: .25em;
      margin-right: .25em;
      border-radius: 50%;
      width: 1em;
      height: 1em;
      float: right;
  }

  .logo-link {
      font-weight: $light;
      padding-right: .5em;
  }

}


