scatterplot {
    min-height: 50vh;
    display: block;

    /* Legend */
    div.legend-container {
        margin-left: 2rem;

        div.legend-entry {
            cursor: default;
            span.title {
                margin-left: 0.25rem;
            }
            span.color {
                display: inline-block;
                height: 1rem;
                width: 1rem;

                &.allocation {
                    background-color: $ctdata-extra-dark-blue;
                }
                &.sim_allocation {
                    background-color: $green;
                }
                &.even_cut_allocation {
                    background-color: $red;
                }
            }
        }
    }
    /* END Legend */

    /* Chart */
    div.chart {
        /* Axes */
        g.axis path,
        g.axis line {
            fill: none;
            stroke: $extra-dark-grey;
        }
        /* END Axes */

        /* Points */
        path.point {
            stroke: $extra-dark-grey;
            stroke-width:0.5px;
        }
        path.point.allocation {
            fill: $ctdata-extra-dark-blue;
        }
        path.point.sim_allocation {
            fill: $green;
        }
        path.point.even_cut_allocation {
            fill: $red;
        }
        /* END Points */

    }
    /* END Chart */
}

/* Tooltip */
.scatterplot-tooltip {
    position: relative;
    background: $extra-dark-grey;
    border: 5px solid $extra-dark-grey;
    color: $white;
}
.scatterplot-tooltip:after, .scatterplot-tooltip:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.scatterplot-tooltip:after {
    border-color: rgba(74, 74, 74, 0);
    border-top-color: $extra-dark-grey;
    border-width: 7px;
    margin-left: -7px;
}
.scatterplot-tooltip:before {
    border-color: rgba(74, 74, 74, 0);
    border-top-color: $extra-dark-grey;
    border-width: 14px;
    margin-left: -14px;
}
/* END Tooltip */