<!DOCTYPE html>
<html lang="en" ng-app='app'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CTData Budget Equity Simulator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/project.css">
    <script src="js/libs/d3.min.js"></script>
    <!-- index.js is D3-Tip js code -->
    <script src="js/libs/index.js"></script>
    <script src="js/libs/d3-jetpack.js"></script>
    <script src="js/libs/angular.min.js"></script>
    <script src="js/libs/angular-animate.min.js"></script>
    <script src="js/libs/ui-bootstrap-tpls.js"></script>
    <script src="js/libs/ng-lodash.min.js"></script>
    <script src="js/libs/bootstrap-slider.min.js"></script>
    <script src="js/libs/slider.js"></script>
    <script src="js/app.js"></script>
    <!-- Town GeoJSON -->
    <script src="data/town.geojson"></script>
  </head>
  <body>
    <div id="wrap">
      <ng-include src="'partials/header.html'"></ng-include>
      <div id="main">
        <div id="page-content-wrapper" ng-controller="DataVizController">
          <div class="top-row">
            <div class="arrow_box">
              <div class="top-row-title">
                <h1><a href="#">CTData Budget Equity Simulator</a></h1>
              </div>
            </div>
          </div>
          <div class="container-fluid main-internal">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h4>The New England Public Policy Center at the Federal Reserve Bank of Boston developed a framework that distributes reductions in state aid based on underlying local fiscal health. Under this framework, municipalities facing fiscal distress would receive smaller aid cuts compared to municipalities with fiscal surpluses. Therefore it provides a more rational and equitable method of cutting aid than commonly used ad hoc or across-the-board cuts. Fiscal health is determined according a given municipalities "fiscal health".
                </h4>
                <h4>What is municipal gap?</h4>
                <ul>
                  <li>Difference between a municipalities capacity to raise revenue and cost drivers</li>
                  <li>Capacity to raise revenue: equalized net grand list * standard mill rate (does not look at actual revenues since they reflect local tax rates and subject to control of local officials).</li>
                  <li>Costs: statistical analysis identfied five cost factors strongly related to non-school spending levels (unemployment rate, population density, private sector wage index, town mainetenance road mileage, and jobs per capita)</li>
                  <li>Looks at municipal fiscal health that is outside the direct control of local officials</li>
                  <li>Structural deficiencies and NOT current situation</li>
                  <li>NOT a measure of actual spending</li>
                </ul>
                <hr>
                <h4>To explore the impact of different budget cut scenarios, first choose between percentage-based cuts or
                dollar-based cuts:</h4>
                <div class="btn-group">
                  <label ng-model="calctype" uib-btn-radio="'percentage'" class="btn btn-primary active">Percentage-based</label>
                  <label ng-model="calctype" uib-btn-radio="'dollar'" class="btn btn-primary">Dollar-based</label>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-xs-12 col-md-3 input">
                <h2>Select Model Parameters</h2>
                <div ng-show="whichCalc()">
                  <div ng-include="'partials/percentage.html'"></div>
                </div ng-show>
                <div ng-hide="whichCalc()">
                  <div ng-include="'partials/dollar.html'"></div>
                </div>
              </div>
              <div class="col-xs-12 col-md-9 output">
                <h2>Results</h2>
                <uib-tabset active="0" type="pills">
                  <uib-tab index="0">
                    <uib-tab-heading>
                      Table <i class="fa fa-table"></i>
                    </uib-tab-heading>
                    <ng-include src="'partials/table.html'"></ng-include>
                  </uib-tab>
                  <uib-tab index="1">
                    <uib-tab-heading>
                      Scatterplot <i class="fa fa-bar-chart"></i>
                    </uib-tab-heading>
                    <scatterplot data=simulatedTowns />
                  </uib-tab>
                  <uib-tab index="2">
                    <uib-tab-heading>
                      Map <i class="fa fa-map-o"></i>
                    </uib-tab-heading>
                    <map data=simulatedTowns />
                  </uib-tab>
                </uib-tabset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-include src="'partials/footer.html'"></ng-include>
    <!-- Latest JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- I haven't actually checked to see if removing this causes problems with the ui-bootstrap -->
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
  </body>
</html>